# Allow mediaserver to get legacy wfd videomode property
get_prop(mediaserver, exported_system_prop);

# Allow mediaserver to get wfd properties
get_prop(mediaserver, media_wfd_prop);
