# Allow NFC service to be found
allow platform_app nfc_service:service_manager find;

# Allow exTHmUI's custom properties to be changed
allow platform_app system_prop:property_service set;

# Allow FastCharge HAL service to be found
hal_client_domain(platform_app, hal_lineage_fastcharge)

# Allow LiveDisplay HAL service to be found
hal_client_domain(platform_app, hal_lineage_livedisplay)

# Allow PowerShare HAL service to be found
hal_client_domain(platform_app, hal_lineage_powershare)

# OTA
allow platform_app { cache_file cache_recovery_file }:dir create_dir_perms;
allow platform_app { cache_file cache_recovery_file }:file create_file_perms;
allow platform_app cache_file:lnk_file r_file_perms;
allow platform_app ota_package_file:file create_file_perms;
allow platform_app ota_package_file:dir rw_dir_perms;
allow platform_app recovery_service:service_manager find;

# Allow theme_prop to be read by system ui
get_prop(platform_app, theme_prop)

# Allow CPUInfo access to thermal
allow platform_app sysfs_thermal:dir search;
allow platform_app sysfs_thermal:file r_file_perms;

# Allow externalstorage access
allow platform_app mnt_pass_through_file:dir { create_dir_perms mounton };
