allow priv_app theme_prop:file { read open };

# Allow Settings to read theme_prop
get_prop(priv_app, theme_prop)

allow priv_app sysfs_dc_dim:file rw_file_perms;
