# Allow Settings to read ro.vendor.build.security_patch
get_prop(system_app, vendor_security_patch_level_prop)

# Allow access to the HALs
hal_client_domain(system_app, hal_lineage_fastcharge)
hal_client_domain(system_app, hal_lineage_livedisplay)
hal_client_domain(system_app, hal_lineage_touch)
hal_client_domain(system_app, hal_lineage_health)

# Allow theme_prop to be read and set by Settings
get_prop(system_app, theme_prop)
set_prop(system_app, theme_prop)

# Read selinux status
allow system_app selinuxfs:file r_file_perms;

# Allow Settings to set legacy wfd videomode prop
set_prop(system_app, exported_system_prop);

# Allow Settings to set wfd resolution prop
set_prop(system_app, media_wfd_prop)

# Allow SetupWizard to set recovery update prop
set_prop(system_app, recovery_update_prop)
