allow system_server app_zygote:process getpgid;
allow system_server storage_stub_file:dir getattr;

# ADB Root
allow system_server adbroot_service:service_manager find;

# Pocket judge
allow system_server pocket_judge_sysfs:dir search;
allow system_server pocket_judge_sysfs:file rw_file_perms;
allow system_server pocket_service:service_manager { add find };

# DC Dimming
allow system_server vendor_sysfs_dc_dim:file rw_file_perms;
add_service(system_server, dc_dimming_service);

# App Lock
add_service(system_server, app_lock_service);

# Use HALs
hal_client_domain(system_server, hal_lineage_fastcharge)
hal_client_domain(system_server, hal_lineage_livedisplay)
hal_client_domain(system_server, hal_lineage_touch)
hal_client_domain(system_server, hal_lineage_trust)
hal_client_domain(system_server, hal_lineage_powershare)

# Let system server find auxiliary camera properties
get_prop(system_server, vendor_persist_camera_prop)

# Linearmotor Vibrator
add_service(system_server, linearmotor_vibrator_service);

# Parallel Space
add_service(system_server, parallel_space_manager_service);
